extends nav-bar.pug

include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module")

block  name
    div.home-title-text
        h1= title

    div(class='topics-container')
        div.topic-title
            h1 Topics
            ul.topic-list
                each item in topics
                    li.topic-item
                        +topic(item)

    div.topic-question-container
        each topic in topics
            h1 #{topic.name}
            ul.question-list
                each question in topic.Questions
                    li
                        +question(question)