extends layout

block content
    nav(class='nav-bar')
        a(href='/') Home
        form(class='search-bar' action='/questions/search' method='get')
            input(type='search' placeholder='Search Questions Dummy')
        a(href='/users/logout') Log Out
    block name
