extends nav-bar

include utils

block name
    +csurf(csrfToken)
    div.question-results-title
        h1  Question Result Dummy!
    div(id=`question-${question.id}` class="question-container")
        +question(question)
        if question.User.id != currentUserId
            button(id=`answer-${question.id}`).answer-button Answer


    div(id=`question-${questions.id}` class="question-container")
        +question(questions)
        if user.id != currentUserId
            button.answer-button Answer
            div#answer-block
