extends nav-bar

include utils

block name
    +csurf(csrfToken)
    div(id=`question-${questions.id}` class="question-container")
        +question(questions)
        if user.id != currentUserId
            button.answer-button Answer
            div#answer-block
