extends nav-bar

include utils

block name
    +csurf(csrfToken)
    div(id=`question-${question.id}` class="question-container")
        +question(question, topic, user)
        if user.id != currentUserId
            button.answer-button Answer
            div#answer-block