extends nav-bar

include utils

block name
    h1 topic name = #{topicName}
    h3 topic id = #{topicId}
    ul
        each item in questions
            li(class='question-block')
                +question(item)
