extends nav-bar

include utils

block name
    div.home-title-text
        h1.topic-title-center Topic Page
    ul.list-block-class
        each question in questions
            li(class='question-block search-result-block')
                +question(question)
