extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Username', 'userName', user.userName)
    +field('Email Address', 'emailAddress', user.emailAddress)
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='submit-container')
      button(type='submit' class='btn') Sign Up
      a(href='/' class='btn') Cancel
  div
    p: a(href='/users/login') Already have an account?
