extends layout

include utils

block content
    div(class="form-container")
        +validationErrorSummary(errors)
        form(action='/users/signup' method='post')
            +csurf(csrfToken)
            +field('Username', 'userName', user.userName)
            +field('Email Address', 'emailAddress', user.emailAddress)
            +field('Password', 'password', user.password, 'password')
            +field('Confirm Password', 'confirmPassword', '', 'password')
            br
            div(class='submit-container')
                button(type='submit' class='btn') Sign Up
            div
                p: a(href='/users/login') Already have an account?
