body {
    padding: 50px;
    font: 14px "apercu", sans-serif;
}

a {
    color: #00B7FF;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

.splash-box {
    display: flex;
    height: 40%;
    width: 50%;
    border: 1px solid black;

    box-sizing: border-box;
    margin: auto;
    padding: 10px;
}

.splash-container {
    display: flex;
    flex-direction: column;
}

.splash-container > h1 {
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash-container > h2 {
    font-weight: bold;
}

.splash-container > p {
    font-size: small;
}

.login-link {
    display: flex;
    justify-content: center;
}

.page-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.form-group>input {
    width: 100%;
}

.submit-container {
    display: flex;
    justify-content: center;
}


.question-block {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
}

.nav-bar {
    display: flex;
    padding: 10px 0px;
    height: 45px;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid black;
    margin-bottom: 5px;
    box-sizing: border-box;
}